

#wrapper {
  background-color: rgb(255, 255, 255);
}

#wrapper[data-step="2"] {
  background-image: url('../images/step_01.jpg');
}

canvas#step-0 {
  width: 1024px;
  height: 768px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
}

#canvas-1-wrapper {
  width: 310px;
  height: 310px;
  position: absolute;
  border: 2px solid rgb(50, 50, 50);
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  overflow: hidden;
  right: 200px;
  top: 215px;
}

#canvas-1-wrapper canvas {
  width: 310px;
  height: 310px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}


#wrapper[data-step="1"] #canvas-1-wrapper {
  opacity: 0;
  visibility: hidden;
}

#wrapper[data-step="2"] canvas#step-0 {
  opacity: 0;
  visibility: hidden;
}

canvas#step-0, #canvas-1-wrapper {
  transition: opacity 0.2s linear;
}