

// jarSalt
// jarSaltParticle


g[id*="jarSaltParticle"].inAir {
  transform: translateY(-260px);
}
g[id*="jarSaltParticle"].opacity0 {
  opacity: 0;
}


g[id*="jarSaltParticle"] {
  transition: opacity 0.05s linear;
  transition: transform 0.2s ease-out;
}