

#wrapper[data-step="3"] #svg-wrapper #plateSalt {
  transform: translate(4px, 240px);
}

#wrapper[data-step="3"] #svg-wrapper #jarSalt {
  transform: translate(-10px, 233px);
}


#wrapper[data-step="3"] #svg-wrapper #stick {
  display: block;
}

.blueBubble {
  position: absolute;

  width: 6px;
  height: 6px;
  background: #0078ff;

  border-radius: 50%;
  opacity: 1;
  transform: translateY(0) scale(0);
}
.blueBubble {
  animation-name: burst;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes burst {
  to {
    opacity: 0.1;
    transform: translateY(-10px) scale(1.6);
  }
}


.blueBubble:nth-of-type(2n)::after {
  content: "";

  width: 2px;
  height: 10px;
  background: rgb(169, 169, 169);
  position: absolute;
  top: -50px;
  left: 4px;
}

.blueBubble:nth-of-type(2n)::after {
  animation-name: fade;
  animation-duration: 8s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fade {
  to {
    opacity: 0;
    transform: translateY(-20px) scale(2);
  }
}