

#wrapper[data-step="2"] #svg-wrapper #jar {
  display: block;
}

#wrapper[data-step="2"] #svg-wrapper #jar #jarSalt g[id*="jarSaltParticle"] {
  display: block;
}

#wrapper[data-step="2"] #svg-wrapper #plate {
  display: block;
}

#wrapper[data-step="2"] #svg-wrapper #plateSalt {
  display: block; 
}

#wrapper[data-step="2"] #svg-wrapper #circle-1 {
  display: block;
}

#wrapper #svg-wrapper #plateSalt g[id*="saltParticle"] {
  // transform: translateY(225px);
}



#wrapper[data-step="2"] #svg-wrapper #plate {
  animation-name: emptyThePlate;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes emptyThePlate {
  from { 
    transform: translateX(0) rotate(0);
  }
  to { 
    transform: translateX(60px) rotate(-72deg);
  }
}




// ANIMATION
#wrapper[data-step="2"] #svg-wrapper #plateSalt g[id*="saltParticle"] {
  animation-name: fillTheJar;
  animation-duration: 0.35s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes fillTheJar {
  to { 
    transform: translateY(225px);
  }
}

#wrapper[data-step="2"] #svg-wrapper #plateSalt g[id*="saltParticle"] {
  @for $i from 0 to 50 {
    $t: (1 + .01 * random(100)) * $plateDelay;
    &:nth-child(#{$i + 1}) {
      animation-delay: $plateDelay + ( random(10) / 75 );
    }
  }
}